{% extends 'dashboard/base.html' %}

{% block body %}
    {% for data in vuln_detail %}
        <div class="page-wrapper">
            <br>
            <div style="display: flex; justify-content: flex-end">
                <div><a href="{% url 'manual_scan:edit_vuln' %}?vuln_id={{data.vuln_id}}&project_id={{project_id}}"
                    class="btn btn-primary"
                    data-original-title="Edit"><i class="fas fa-edit"></i></a>
                </div>
                &nbsp;&nbsp;
                <form action="{% url 'manual_scan:del_vuln' %}" method="POST"
                        class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                    <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                    <input type="hidden" name="project_id" value="{{project_id}}">
                    <button class="btn btn-warning"><i class="fas fa-trash"></i></button>
                </form>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ data.vuln_name }}</h1>
                        <br>
                        <h2>Description</h2>
                        {{ data.description }}
                        <br>
                        <br>
                        <h2>Instance</h2>
                        {{ data.vuln_url }}
                        <br>
                        <br>
                        <h2>Solutions</h2>
                        {{ data.solution }}
                        <br>
                        <br>
                        <h2>Reference</h2>
                        {{ data.reference | safe }}
                        <br>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}

{% endblock %}