{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Create Client</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST" action="{% url 'projects:create_client' %}">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Client Name :</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="client_name" value="{{ edit_client.client_name }}"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Client Address :</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="client_address" value="{{ edit_client.client_address }}"
                                                        class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Client Phone :</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="client_phone" value="{{ edit_client.client_phone }}"
                                                        class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Client Email :</label>
                                            <div class="col-sm-6">
                                                <input type="email" name="client_email" value="{{ edit_client.client_email }}"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Client Website :</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="client_website" value="{{ edit_client.client_website }}"
                                                        class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Client Ip :</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="client_ip" value="{{ edit_client.client_ip }}"
                                                        class="form-control"/>
                                            </div>
                                        </div>                                    
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Note :</label>
                                            <div class="col-sm-6">
                                                <textarea name="client_note" value="{{ edit_client.client_note }}"
                                                        class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <input type="hidden" name="client_id" value="{{edit_client.client_id}}"/>{% csrf_token %}
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </div>
                                    </form>
                                    <div class="card">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}