{% extends 'dashboard/base.html' %}
{% load static %}
{% block body %}

<script src="{% static 'matrix-admin-bt4/dist/js/jquery-1.9.1.min.js' %}"></script>

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">NMAP Scans</h1>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <form id="start_scan" class="form-horizontal">{% csrf_token %}
                                        <div class="card-body">
                                            <h4 class="card-title"></h4>

                                            <div class="form-group row">
                                                <label class="col-md-3 m-t-15">IP/s</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" name="ip" id="ip" value="{{ ip }}"
                                                              placeholder="Place IP's here (comma seperated)...."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <div class="form-group row">
                                                    <label class="col-md-3 m-t-15">Projects</label>
                                                    <div class="col-md-9">
                                                        <select id="project_id" name="project_id"
                                                                class="select2 form-control custom-select"
                                                                style="width: 100%; height:36px;">
                                                            {% for data in all_proj %}
                                                            <option value="{{data.project_id}}">{{data.project_name}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-body">
                                                <div class="controls">
                                                    <input type="submit" class="btn btn-primary" value="Launch">
                                                    <label class="col-md-3 m-t-15" id="label" for="file"></label>
                                                    <progress id="progress" value ="0" max="100" style="width: 300px;"></progress>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).on('submit', '#start_scan', function(e){        
        e.preventDefault();
        IpAddr=$('#ip').val();
        var ipformat = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;  
        if(IpAddr.match(ipformat))
            $.ajax({
                type: 'POST',
                url: '{% url "tools:nmap" %}',
                data: {
                    ip: $('#ip').val(),
                    project_id: $('#project_id').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                beforeSend:function(){
                    $('#label').text('Server started scanning...');
                    $('#progress').show();
                    var progression = 0,
                    progress = setInterval(function() 
                    {
                        $('#progress').val(progression);
                        if(progression == 100) {
                            $('#label').text('Please wait, will prompt...');
                        } else
                            progression += 10;
                        
                    }, 1000);
                },
                success:function(){
                    $('#label').text('Done, scan result saved...');
                    $('#progress').hide();
                },
                // xhr:function () {
                //     xhr = jQuery.ajaxSettings.xhr()
                //     interval = setInterval(function() 
                //     {
                //         console.log(xhr.responseText.length);
                //         if (xhr.readyState > 2){
                //             total = parseInt(xhr.getResponseHeader('Content-length'));
                //             completed = parseInt(xhr.responseText.length);
                //             percentage = (100.0 / total * completed).toFixed(2);
                //             console.log("Completed #{percentage}%");
                //         }
                //     }, 50);
                // }
            });
        else
            $('#label').text('Invalid IPs, try again...');
    });

    $(document).ready(function() {
        $('#progress').hide();
    });
</script>

{% endblock %}