{% extends 'dashboard/base.html' %}

{% block body %}
{% for data in vul_dat %}

<script>
    $(document).ready(function(){
        $.ajax({
            type: 'POST',
            url: '{% url "networkscanners:check_vul_exist" %}',
            data: {
                vul_id: $('input[name=vul_id]').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                if(response) {
                    $('#addToManual').prop('disabled', true);    
                } else {
                    $('#addToManual').prop('disabled', false)   
                }
            }
        });
    });
</script>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-auto">
                    <div class="float-right">
                        <form class="form-vertical" action="{% url 'manual_scan:add_vuln' %}" method="GET" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="scan_id" value="{{ scan_id }}">
                            <input type="hidden" name="vul_id" value="{{ data.vul_id }}">
                            <input type="hidden" name="project_id" value="{{ project_id }}">
                            <input type="hidden" name="name" value="{{ data.name }}">
                            <input type="hidden" name="severity" value="{{ data.threat }}">
                            <input type="hidden" name="description" value="{{ data.description }}">
                            <input type="hidden" name="instance" value="{{ data.host }}">
                            <input type="hidden" name="solution" value="{{ data.tags }}">
                            <input type="hidden" name="reference" value="{{ xref_list }}">
                            <button id="addToManual" type="submit" class="btn btn-primary btn-lg active">Add to Manual Scan</button>
                        </form>
                    </div>
                </div>
                <h1>{{ data.name }}</h1>
                <br>
                <div class="card">
                    <div class="accordion" id="accordionExample">
                        <div class="card m-b-0">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                        
                                        <span>Description</span>
                                </h5>
                            </div>
                                <div class="card-body">
                                     {{data.description}}

                                    <br>
                                    {{data.impact | safe}}
                                    <br>

                                </div>
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                        
                                        <span>Instance</span>
                                </h5>
                            </div>
                                <div class="card-body">
                                    <div class="col-md-6">
                                    <table class="table table-bordered data-table table-fixed">
                                        <thead>
                                            <tr>
                                                <td>IP</td>
                                                <td>Port</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{data.host}}
                                            </td>
                                            <td>
                                                {{data.port}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                </div>
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    
                                        
                                        <span>Solutions</span>
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                     <pre>{{data.tags | safe}}<pre>
                                </div>

                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading4">
                                <h5 class="mb-0">
                                        
                                        <span>Reference</span>
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                   {% for data in xref_list %} <a href="{{data}}" target="_blank">{{data}}</a> <br> {% endfor %}
                                </div>
                            
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading5">
                                <h5 class="mb-0">
                                    
                                        
                                        <span>CVE</span>
                                    
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                    {% for data in cve_list %}
                                    <ul>{{data}}</ul>
                                    {% endfor %}
                                </div>
                            
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading6">
                                <h5 class="mb-0">
                                        
                                        <span>Base Score</span>
                                    
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                    <pre>{{data.cvss_base}}</pre>
                                </div>
                            
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading7">
                                <h5 class="mb-0">
                                        
                                        <span>Family</span>
                                    
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                     <pre>{{data.family}}</pre>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}