{% extends 'dashboard/base.html' %}

{% block body %}
{% for data in vul_dat %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-auto">
                    <div class="float-right">
                        <!-- Large modal -->
                         <a href="/jira/submit_jira_ticket/?summary={{data.name}}&description={{data.description}}%0a%0a%0a Vulnerable Host: {{data.host}} %0a%0a Vulnerable Port: {{data.port}} %0a%0a CVE: {{data.cve}} %0a%0a Archery URL: {SERVERIP}/networkscanners/vuln_check/?vuln_id={{data.vul_id}} &scanner=open_vas&vuln_id={{data.vul_id}}&scan_id={{data.scan_id}} "
               class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Create Jira Ticket</a>

                    </div>
                </div>
                <h1>{{ data.name }}</h1>
                <br>
                <div class="card">
                    <div class="accordion" id="accordionExample">
                        <div class="card m-b-0">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                        
                                        <span>Description</span>
                                </h5>
                            </div>
                                <div class="card-body">
                                     {{data.description}}

                                    <br>
                                    {{data.impact | safe}}
                                    <br>

                                </div>
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                        
                                        <span>Instance</span>
                                </h5>
                            </div>
                                <div class="card-body">
                                    <div class="col-md-6">
                                    <table class="table table-bordered data-table table-fixed">
                                        <thead>
                                            <tr>
                                                <td>IP</td>
                                                <td>Port</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{data.host}}
                                            </td>
                                            <td>
                                                {{data.port}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                </div>
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    
                                        
                                        <span>Solutions</span>
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                     <pre>{{data.tags | safe}}<pre>
                                </div>

                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading4">
                                <h5 class="mb-0">
                                        
                                        <span>Reference</span>
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                   {% for data in xref_list %} <a href="{{data}}" target="_blank">{{data}}</a> <br> {% endfor %}
                                </div>
                            
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading5">
                                <h5 class="mb-0">
                                    
                                        
                                        <span>CVE</span>
                                    
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                      {% for data in cve_list %}
                        <li>{{data}}</li>
                        {% endfor %}
                                </div>
                            
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading6">
                                <h5 class="mb-0">
                                        
                                        <span>Base Score</span>
                                    
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                    <pre>{{data.cvss_base}}</pre>
                                </div>
                            
                        </div>
                        <div class="card m-b-0 border-top">
                            <div class="card-header" id="heading7">
                                <h5 class="mb-0">
                                        
                                        <span>Family</span>
                                    
                                </h5>
                            </div>
                            
                                <div class="card-body">
                                     <pre>{{data.family}}</pre>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}