{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Add Audit Scripts Question</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST" action="{% url 'tools:add_audit_save' %}?question_group_id={{ question_group_id }}">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Question Group :</label>
                                                <div class="col-sm-6">
                                                    <select name="question_group_id" class="select2 form-control custom-select"
                                                            style="width: 50%; height:36px;">
                                                        {% for data in all_groups %}
                                                            <option value="{{data.question_group_id}}">{{data.question_group}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="btn-group" title="Add question group"><a
                                                        href="{% url 'tools:add_group' %}?"
                                                        class="btn btn-primary btn-sm"><i
                                                        class="icon-plus icon-white"></i>Add</a>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Question :</label>
                                            <div class="col-sm-6">
                                                <!-- <textarea name="question" value="{{ question }}"
                                                          class="form-control"
                                                          placeholder="Question"></textarea> -->
                                                <input list="question" name="question" value="{{ question }}" class="form-control" placeholder="Input Question">
                                                <datalist id="question">
                                                    <option value="Has your organization implemented scanning tools (active & passive) to identify all the devices attached to the network?">
                                                    <option value="Has your organization implemented a network port control solution (802.1x), which requires certificates, to authenticate devices before they can connect to the network?">
                                                    <option value="Has your organization implemented scanning tools to identify all software applications installed in the organization?">
                                                    <option value="Has your organization implemented a software whitelisting tool that only allows authorized software program to execute on the organization's systems?">
                                                    <option value="Has your organization implemented scanning tools to identify any software vulnerabilities on systems in the organization?">
                                                    <option value="Has your organization implemented an automated patch management system to continuously update the organization's systems?">
                                                    <option value="Has your organization implemented a scanning tool to inventory all users with elevated administrative rights on the organization's systems?">
                                                    <option value="Has your organization ensured that only users with clear business need are granted elevated administrative rights on the organization's systems?">
                                                    <option value="Has your organization implemented scanning tools to identify any mis-configured security settings on systems in the organization?">
                                                    <option value="Has your organization implemented a security setting configuration enforcement system on the organization's systems?">
                                                    <option value="Has your organization enabled comprehensive audit logging on each of its critical information systems (including network devices and applications)?">
                                                    <option value="Has your organization centrally aggregated their critical audit logs on a Security Information and Event Management (SIEM) platform?">
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <!-- <input type="hidden" name="question_group_id" value="{{data.question_group_id}}"> -->
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </form>
                                    <div class="card">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}