{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="float-right">
            <div class="btn-group"><a href="{% url 'tools:add_audit' %}"
                                      class="btn btn-primary btn-mini"><i
                    class="icon-plus icon-white"></i> Add</a>
            </div>
        </div>
        <br>
        <div class="d-md-flex align-items-center">
            <h1 class="card-title">{{cli_name}} Audit Scripts</h1>
        </div>
        <form class="form-horizontal" method="POST" action="{% url 'projects:list_projects' %}">
        {% csrf_token %}
            <label class="col-sm-4 col-form-label">Clients</label>
            <div class="col-sm-6">
                <select name="cli_id" onChange="form.submit();" class="select2 form-control custom-select"
                        style="width: 50%; height:36px;" >
                        <option value="" disabled selected>{{cli_name}}</option>
                    {% for data in all_clients %}
                        <option value="{{data.client_id}}">{{data.client_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Inventory and Control of Hardware Assets</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form class="form-horizontal">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented scanning tools (active & passive) to identify all the devices attached to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                <option value="csv" selected>Not Implemented</option>
                                                                <option value="json">Implemented on Some Systems</option>
                                                                <option value="yaml">Implemented on All Systems</option>
                                                                <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented a network port control solution (802.1x), which requires certificates, to authenticate devices before they can connect to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                    <option value="csv" selected>Not Implemented</option>
                                                                    <option value="json">Implemented on Some Systems</option>
                                                                    <option value="yaml">Implemented on All Systems</option>
                                                                    <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <a class="btn btn-warning" href="{% url 'networkscanners:server_setting' %}"
                                                       role="button">Save</a>
                                                </form>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Inventory and Control of Software Assets</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form class="form-horizontal">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented scanning tools (active & passive) to identify all the devices attached to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                <option value="csv" selected>Not Implemented</option>
                                                                <option value="json">Implemented on Some Systems</option>
                                                                <option value="yaml">Implemented on All Systems</option>
                                                                <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented a network port control solution (802.1x), which requires certificates, to authenticate devices before they can connect to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                    <option value="csv" selected>Not Implemented</option>
                                                                    <option value="json">Implemented on Some Systems</option>
                                                                    <option value="yaml">Implemented on All Systems</option>
                                                                    <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <a class="btn btn-warning" href="{% url 'networkscanners:server_setting' %}"
                                                       role="button">Save</a>
                                                </form>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Continuous Vulnerability Management</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form class="form-horizontal">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented scanning tools (active & passive) to identify all the devices attached to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                <option value="csv" selected>Not Implemented</option>
                                                                <option value="json">Implemented on Some Systems</option>
                                                                <option value="yaml">Implemented on All Systems</option>
                                                                <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented a network port control solution (802.1x), which requires certificates, to authenticate devices before they can connect to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                    <option value="csv" selected>Not Implemented</option>
                                                                    <option value="json">Implemented on Some Systems</option>
                                                                    <option value="yaml">Implemented on All Systems</option>
                                                                    <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <a class="btn btn-warning" href="{% url 'networkscanners:server_setting' %}"
                                                       role="button">Save</a>
                                                </form>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title"> Controlled Use of Administrative Privileges</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form class="form-horizontal">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented scanning tools (active & passive) to identify all the devices attached to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                <option value="csv" selected>Not Implemented</option>
                                                                <option value="json">Implemented on Some Systems</option>
                                                                <option value="yaml">Implemented on All Systems</option>
                                                                <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented a network port control solution (802.1x), which requires certificates, to authenticate devices before they can connect to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                    <option value="csv" selected>Not Implemented</option>
                                                                    <option value="json">Implemented on Some Systems</option>
                                                                    <option value="yaml">Implemented on All Systems</option>
                                                                    <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <a class="btn btn-warning" href="{% url 'networkscanners:server_setting' %}"
                                                       role="button">Save</a>
                                                </form>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Secure Configuration for Hardware and Software</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form class="form-horizontal">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented scanning tools (active & passive) to identify all the devices attached to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                <option value="csv" selected>Not Implemented</option>
                                                                <option value="json">Implemented on Some Systems</option>
                                                                <option value="yaml">Implemented on All Systems</option>
                                                                <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented a network port control solution (802.1x), which requires certificates, to authenticate devices before they can connect to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                    <option value="csv" selected>Not Implemented</option>
                                                                    <option value="json">Implemented on Some Systems</option>
                                                                    <option value="yaml">Implemented on All Systems</option>
                                                                    <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <a class="btn btn-warning" href="{% url 'networkscanners:server_setting' %}"
                                                       role="button">Save</a>
                                                </form>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Maintenance, Monitoring, and Analysis of Audit Logs</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form class="form-horizontal">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented scanning tools (active & passive) to identify all the devices attached to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                <option value="csv" selected>Not Implemented</option>
                                                                <option value="json">Implemented on Some Systems</option>
                                                                <option value="yaml">Implemented on All Systems</option>
                                                                <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Has your organization implemented a network port control solution (802.1x), which requires certificates, to authenticate devices before they can connect to the network?</label>
                                                        <div class="col-sm-6">
                                                            <select name="type" class="custom-select mr-sm-2"
                                                                    id="inlineFormCustomSelect">
                                                                    <option value="csv" selected>Not Implemented</option>
                                                                    <option value="json">Implemented on Some Systems</option>
                                                                    <option value="yaml">Implemented on All Systems</option>
                                                                    <option value="yaml">Implemented & Automated on All Systems</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <a class="btn btn-warning" href="{% url 'networkscanners:server_setting' %}"
                                                       role="button">Save</a>
                                                </form>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

{% endblock %}
