{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="float-right">
            <div class="btn-group" title="Add question"><a href="{% url 'tools:add_audit' %}"
                                      class="btn btn-primary btn-mini"><i
                    class="icon-plus icon-white"></i>Add</a>
            </div>
        </div>
        <br>
        <div class="d-md-flex align-items-center">
            <h1 class="card-title">{{cli_name}} Audit Scripts</h1>
        </div>
        <div class="d-md-flex align-items-center">
            <h4 class="card-title">Critical Security Controls(CSC) Executive Assessment Tool</h4>
        </div>
        <form class="form-horizontal" method="POST" action="{% url 'tools:audit_scripts' %}">
        {% csrf_token %}
            <label id="address" style="background:green; color:white" class="col-sm-2 col-form-label"><b>Risk Addressed: {{address}}</b></label><br>
            <label id="accept" style="background:red; color:white" class="col-sm-2 col-form-label"><b>Risk Accepted: {{accept}}</b></label><br>
            <label class="col-sm-4 col-form-label">Clients</label>
            <div class="col-sm-6">
                <select name="client_id" onChange="form.submit();" class="select2 form-control custom-select"
                        style="width: 50%; height:36px;" >
                        <option value="{{cli_id}}" disabled selected>{{cli_name}}</option>
                    {% for data in all_clients %}
                        <option value="{{data.client_id}}">{{data.client_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <br>
        <div class="row justify-content-md-center">
            {% for group in all_groups %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h2 class="card-title">{{group.question_group}}</h2>&nbsp;&nbsp;&nbsp;
                            <div id="delete" class="float-right">
                                <form action="{% url 'tools:add_audit_del' %}" method="post" class="forms-sample">        
                                    {% csrf_token %}
                                    <input type="hidden" name="cli_id" value="{{cli_id}}"/>
                                    <input type="hidden" name="question_group_id" value="{{group.question_group_id}}"/>
                                    <button style="border: none; background: none;"><i class="fas fa-window-close"></i></button>
                                </form>
                            </div>
                        </div>                       
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                        {% for question in all_questions %}
                                            {% if group.question_group_id == question.question_group_id %}
                                            <div class="form-group row">
                                                <p name="{{question.question_id}}" class="col-sm-4 col-form-label">{{question.question}}</p>
                                                <!-- <input type="hidden" name="question_id" value="{{question.question_id}}"> -->
                                                <div class="col-sm-6">
                                                    <select style="color:black" name="answer" class="custom-select mr-sm-2">
                                                        {% for audit in all_audits %}
                                                            {% if question.question_id == audit.question_id %}
                                                                <option style="background:grey" disabled selected>{{audit.answer}}</option>
                                                                <!-- value="{{audit.answer}}"  -->
                                                            {% endif %}
                                                        {% endfor %}
                                                                <option style="background:red" value="Not Implemented">Not Implemented</option>
                                                                <option style="background:orange" value="Implemented on Some Systems">Implemented on Some Systems</option>
                                                                <option style="background:yellow" value="Implemented on All Systems">Implemented on All Systems</option>
                                                                <option style="background:green" value="Implemented & Automated on All Systems">Implemented & Automated on All Systems</option>
                                                    </select>
                                                </div>
                                                <div class="confirm-delete float-right">
                                                    <form action="{% url 'tools:audit_scripts_del' %}" method="post" class="forms-sample">        
                                                        {% csrf_token %}
                                                        <input type="hidden" name="client_id" value="{{client_id}}"/>
                                                        <input type="hidden" name="question_id" value="{{question.question_id}}"/>
                                                        <button style="border: none; background: none;"><i class="fas fa-window-close"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var dropdown = document.getElementsByName("answer");
        var client_id = document.getElementsByName("client_id")[0].value;
        for (var i=0 ; i < dropdown.length ; i++){
            (function(index){
            dropdown[index].onchange = function(){
                // e.preventDefault();
                var question_id = document.getElementsByTagName("p")[index].getAttribute("name");
                var answer = $(this).val();
                $.ajax({
                    url:'{% url "tools:audit_scripts_save" %}',
                    data:{
                        'client_id': client_id,
                        'question_id': question_id,
                        'answer': answer,
                        // 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (response) {
                        $("#address").text("Risk Addressed: " + response.address);
                        $("#accept").text("Risk Accepted: " + response.accept);
                    }
                });
                // return false;
            };
            })(i)
        }
    });

    $(document).on('click', '.confirm-delete', function(){
        return confirm('Are you sure you want to delete this question?');
    })

    $(document).on('click', '#delete', function(){
        return confirm('Are you sure you want to delete this question group?');
    })
</script>
{% endblock %}
