{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Edit Question Group</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST" action="{% url 'tools:edit_group_save' %}">
                                        {% csrf_token %}
                                        {% for group in all_groups %}
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Question Group:</label>
                                            <div class="col-sm-6">
                                                <textarea name="question_group" class="form-control">{{group.question_group}}</textarea>
                                            </div>
                                            <div class="confirm-delete float-right" title="Delete question group">
                                                <a style="color: black;" href="/tools/add_audit_del/?client_id={{client_id}}&question_group_id={{group.question_group_id}}"><i class="far fa-window-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <input type="hidden" name="client_id" value="{{client_id}}"/>
                                            <input type="hidden" name="question_group_id" value="{{group.question_group_id}}"/>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $(document).on('click', '.confirm-delete', function(){
        return confirm('Are you sure you want to delete this question group?');
    })

</script>

{% endblock %}