{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">View & Edit Sniper</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form class="form-horizontal" method="POST" action="{% url 'tools:sniper_edit' %}">{% csrf_token %}
                                            <div class="card-body">{% for data in all_config %}
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">URL/s</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="ip_address" value="{{ data.ip_address }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Project</label>
                                                            <div class="col-sm-6">
                                                                <select name="project_id" class="select2 form-control custom-select"
                                                                        style="width: 50%; height:36px;">
                                                                        <option value="" disabled selected>{{proj_name}}</option>
                                                                    {% for data in all_proj %}
                                                                        <option value="{{data.project_id}}">{{data.project_name}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Sniper Name</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="config_name" value="{{ data.config_name }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Script</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="script" value="{{ data.script }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Option 1</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="option1" value="{{ data.option1 }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Option 2</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="option2" value="{{ data.option2 }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Log 1</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="log1" value="{{ data.log1 }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Log 2</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="log2" value="{{ data.log2 }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Result 1</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="result1" value="{{ data.result1 }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                                class="col-sm-4 col-form-label">Result 2</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" name="result2" value="{{ data.result2 }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="config_id" value="{{data.config_id}}">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                            </div>{% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}